# user is the code required to login to the alarm via the UCM - set it to the address and port of the UCM/Eth
# do not distribute this file unless you have deleted the user entry

user = 1234
host = 192.168.1.196
port = 1002

# config file from comfigurator (xml format required)
config = alarm.cclx

# max zone
maxzones = 16

# max outputs
maxoutputs = 16

# max scsrio outputs
maxextendedoutputs = 6

# WeMo emulation
wemo = true

# HTTP interface
httpinterface = true


# IFTTT Maker support
maker = true
makerkey = xxxxxyyyyyy

# enable debugging to the console
debug = true

# alarm ping
keepalive = 5000