# user is the code required to login to the alarm via the UCM - set it to the address and port of the UCM/Eth
# do not distribute this file unless you have deleted the user entry

user = 1234
host = 192.168.1.196
port = 1002

# config file from comfigurator (xml format required)
config = alarm.cclx

# In order to conserve resources on the Pi and SmartThings only zones, outputs, extendedoutputs, flags,
# counters and responses explicity listed below will be exposed. The list does not need to be contigious but it is recommended
# it is provided in numeric order
# You can make changes to this as required, but you will need to redo discovery via the automations tab.

# zones to be exposed (seperate by ,) - Example below exposes all 16 zones on a Comfort Master with a LEM
# zones = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16

zones = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16

# outputs to be exposed (seperate by ,) - Example below exposes all 16 outputs on a Comfort Master with a LEM and
# 6 buttons on a 6 button SCS 
# outputs = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,129,130,131,132,133,134

outputs = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,129,130,131,132,133,134

# flags to be exposed (seperated by ,) - Example below exposes 1 flag
# flags = 1

# counters to be exposed (seperated by ,) - Example below exposes 10 counters (note, counters start at 0, not 1)
# counters = 0,1,2,3,4,5,6,7,8,9

counters = 0,1,2,3,4,5,6,7,8,9

# responses to be exposed (seperated by ,) - Example below exposes 10 responses.
# responses = 1,2,3,4,5,6,7,8,9,10


# WeMo emulation
wemo = true

# HTTP interface
httpinterface = true


# IFTTT Maker support
maker = true
makerkey = xxxxxyyyyyy

# enable debugging to the console
debug = true

# alarm ping
keepalive = 5000